{
  "presets": ["react"],
  "plugins": [
    "transform-react-constant-elements",
    "transform-react-inline-elements",
    "syntax-trailing-function-commas",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-class-constructor-call",
    "transform-export-extensions",
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
