{
  "presets": [["es2015", { "modules": false, "loose": true } ], "stage-1", "react"],
  "plugins": [
    "lodash",
    "transform-decorators-legacy",
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
