{
  "parser": "babel-eslint",
  "extends": [
    "plugin:flowtype/recommended",
    "airbnb"
  ],
  "rules": {
    "class-methods-use-this": "off",
    "import/no-extraneous-dependencies": "off",
    "max-len": "off",
    "no-underscore-dangle": "off",
    "react/prefer-stateless-function": "off",
    "react/sort-comp": "off",
    "semi": ["warn", "never"]
  },
  "plugins": [
    "import",
    "react",
    "lodash",
    "flowtype"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "globals": {
    "__DEV__": true
  }
}
