{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "airbnb-base/rules/strict",
    "airbnb/rules/react"
  ],
  "rules": {
    "class-methods-use-this": "off",
    "import/no-extraneous-dependencies": "off",
    "max-len": "off",
    "no-underscore-dangle": "off",
    "react/prefer-stateless-function": "off",
    "react/sort-comp": "off",
    "semi": ["warn", "never"],
    "object-curly-newline": ["warn", { "multiline": true, "consistent": true }]
  },
  "plugins": [
    "import",
    "react",
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "globals": {
    "__DEV__": true
  }
}
