:global {
  @tailwind base;
  @tailwind utilities;
  @tailwind screens;
}

.bg-gradient {
  background: linear-gradient(to bottom, #e8e6e8 0, #d1cfd1 100%);
}

.bg-active {
  color: white;
  .text-grey-dark {
    color: rgba(255,255,255,0.6);
  }
}

.frame {
  box-shadow: rgb(179, 179, 179) 0px 1px 0px, rgb(179, 179, 179) 0px -1px 0px, rgb(179, 179, 179) 1px 0px 0px, rgb(179, 179, 179) -1px 0px 0px, rgb(179, 179, 179) 0px 1px 1px;
}

@keyframes spinner-wave {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}

.spinner {
  display: flex;
  flex-direction: row;

  &-bar {
    flex: 1;
    margin: 5%;
    animation: spinner-wave 1.2s infinite ease-in-out;
    background-color: config("colors.grey");

    &:nth-child(1) {
      animation-delay: -1.2s;
    }

    &:nth-child(2) {
      animation-delay: -1.1s;
    }

    &:nth-child(3) {
      animation-delay: -1s;
    }
  }
}


@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 25px 25px;
  }
}

.seek-bar {
  position: absolute;
  transition: width 500ms ease;
  pointer-events: none;
  height: 100%;
  background-color: config("colors.active");

  &-loader {
    border-radius: 2px;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: config("colors.grey");

    &:after {
      content: "";
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      z-index: 1;
      animation: move 2s linear infinite;
      background-size: 25px 25px;
      background-image: linear-gradient(
       -45deg,
       rgba(0, 0, 0, 0.05) 25%,
       transparent 25%,
       transparent 50%,
       rgba(0, 0, 0, 0.05) 50%,
       rgba(0, 0, 0, 0.05) 75%,
       transparent 75%,
       transparent
     );
    }
  }
}
